html,
body {
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 3% !important;
  font-size: 180% !important;
}

body {
  -webkit-box-align: center;
  align-items: center;
  background-color: #0b132b;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

#asking {
  margin-top: 3%;
}

.svg-box {
  display: inline-block;
  position: relative;
  width: 150px;
}

.red-stroke {
  stroke: #FF6245;
}

.red {
  stroke: #FF6245;
}

/* 先畫一ㄍ空心ㄉ圓圓 */
.circular circle.path {
  stroke-dasharray: 330;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: 0.7s draw-circle;
}

/* 結束ㄉ時候整ㄍ圈圈上色 */
.circular circle.result {
  fill: #FF6245;
  animation: 0.3s linear 0.9s both fadeIn;
}

.cross .first-line {
  animation: 0.7s draw-first-line ease-out;
}

.cross .second-line {
  animation: 0.7s draw-second-line ease-out;

}

/* 叉叉 */
.cross {
  stroke-width: 6.25;
  stroke-linecap: round;
  position: absolute;
  top: 54px;
  left: 54px;
  width: 40px;
  height: 40px;
}




@keyframes draw-first-line {
  0% {
    stroke-dasharray: 0, 56;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 0, 56;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 56, 330;
    stroke-dashoffset: 0;
  }
}

@keyframes draw-circle {
  0% {
    stroke-dasharray: 0, 330;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  80% {
    stroke-dasharray: 330, 330;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes draw-second-line {
  0% {
    stroke-dasharray: 0, 55;
    stroke-dashoffset: 1;
  }

  50% {
    stroke-dasharray: 0, 55;
    stroke-dashoffset: 1;
  }

  100% {
    stroke-dasharray: 55, 0;
    stroke-dashoffset: 70;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}